
button,
div,
form,
input {
  margin: 10px;
}

.animal {#
  float: left;
  display: inline-block;
  text-align: center;
}

button {
	cursor: pointer;
	background-color: #ff8000;
	border: 1px solid #555555;
}

body {
	background-color: #ffcc99;
}

